include README.rst LICENSE
include setup.py setup.cfg
include requirements.txt
recursive-include sample *
recursive-include tests *
recursive-exclude sample *.pyc
recursive-exclude tests *.pyc
prune results
